*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(#020024, #e3f4f4, #3dd3f1);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px 10%;
    font-size: 20px;
    font-weight: bold;
    position:sticky;
    top:0;
    position: relative;
}

ul{
    display: flex;
    gap:20px;
     
}

li{
    list-style: none;
}

a{
    color:white;
    text-decoration: none;
}

.info .container{
    font-size: 2.5rem;
    text-align: center;
    color:white;
}

.button-menu-toggle{
    position: absolute;
}

.info{
    display:flex;
    background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1631&q=80");;
    background-repeat: no-repeat;
    background-size:100% 700px;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.habilities{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    width: 80%;
    text-align: center;
    height: 500px;
    padding: 20px;
   
    
    
}

.habilities img{
    border-radius: 10px;
    height: 30%;
    width: 20%;
    min-width: 160px;
}

.projects{  
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    font-size: 1.2rem;
    width: 80%;
    padding: 20px;
    height: 500px;
    padding: 20px;
    background-color:#D2E9E9;
    border-radius: 20px;
}

.contact{
    display: flex;
    height: 400px;
    width: 80%;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 40%;
    margin-top: 80px;
}

form{
    width: 200px;
    margin:auto;
  }

  .submit{
    background-color: #4c64eb;
    color:white;
    justify-content: center;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
}

.submit:hover{
    background-color: hsla(231, 80%, 61%, 0.733);
    color:rgba(37, 36, 36, 0.678);
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input, textarea{
    width: 100%;
    border: solid 1px transparent;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;

}

footer{
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div{
    margin:20px;    
}



.button-menu-toggle {
    display: none;
  }

@media (max-width: 768px) {
    html{
        font-size: 10px;
    }
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 80%;
      height: 100vh;
      top: 50px;
      left: 0;
      flex-direction: column;
      padding-top: 100px;
      align-items: center;
      justify-content: center;
      gap:50px;
      font-size: 40px;
      
    }
  }


